<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>marriage</servlet-name>
		<servlet-class>com.nt.servlet.MarriageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>marriage</servlet-name>
		<url-pattern>/marriageurl</url-pattern>
	</servlet-mapping>
	<welcom-file-list>
	<welcome-file>input.html</welcome-file>
	</welcom-file-list>
</web-app>