<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>StudentDAOApp</display-name>
  <welcome-file-list>
    <welcome-file>form.html</welcome-file>    
  </welcome-file-list>
  <servlet>
  		<servlet-name>stud</servlet-name>
  		<servlet-class>com.nt.controller.StudentControllerServlet</servlet-class>  
  </servlet>
  <servlet-mapping>
  		<servlet-name>stud</servlet-name>
  		<url-pattern>/stdurl</url-pattern>
  
  </servlet-mapping>
</web-app>