<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="dataSource"
		class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver" />
		<property name="url"
			value="jdbc:oracle:thin:@localhost:1521:xe" />
		<property name="username" value="vishal" />
		<property name="password" value="patil" />
	</bean>
	<bean id="template"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="dao" class="com.nt.dao.AuthenticataeDao">
		<property name="jt" ref="template" />
	</bean>

	<bean id="am" class="com.nt.aspect.AuthenticationManager">
		<property name="dao" ref="dao" />
	</bean>
	<bean id="targetBean" class="com.nt.service.IntrstAmtCal" />
	<bean id="securityAdvice" class="com.nt.aspect.SecurityAdvice">
		<property name="am" ref="am" />
	</bean>
	<bean id="pfb"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="targetBean" />
		<property name="interceptorNames">
			<list>
				<value>securityAdvice</value>
			</list>
		</property>
	</bean>
</beans>
