<web-app>
  <display-name>StudentLayeredApp</display-name>
  <welcome-file-list>
    <welcome-file>form.html</welcome-file>
  </welcome-file-list>
   <servlet>
      <servlet-name>student</servlet-name>
      <servlet-class>com.nt.controller.StudentControllerServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>student</servlet-name>
      <url-pattern>/controller</url-pattern>
   </servlet-mapping>
</web-app>