<web-app>
<display-name>WaOne</display-name>
<welcome-file-list>
<welcome-file>Form.html</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.nt.servlet.FirstServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/s1url</url-pattern>
</servlet-mapping>
</web-app>