<web-app>
<display-name>PoolApp</display-name>
<welcome-file-list>
<welcome-file>input.html</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>pool</servlet-name>
<servlet-class>com.nt.servlet.ConPoolServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>pool</servlet-name>
<url-pattern>/poolurl</url-pattern>
</servlet-mapping>
</web-app>