<web-app>
<display-name>WaTwo</display-name>
<welcome-file-list>
<welcome-file>Form.html</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>second</servlet-name>
<servlet-class>com.nt.servlet.SecondServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>/s2url</url-pattern>
</servlet-mapping>
</web-app>